.logo {
    width: 100px;
}

.container {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay {
    overflow-y: scroll;
    background-color: #0A0F0D;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.main {
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 26%;
}

.header {
    position: relative;
    margin: 0 25px;
    background: #fff;
    border-radius: 6px;
    color: #2A1E5C;
    padding: 40px 0;
    text-align: center;
}

.heading {
    font-size: 27px;
    margin-top:10px;
    font-weight: 800;
    margin-bottom: 10px;
}

.subheading {
    font-size: 15px;
    font-weight: 500;
    text-transform: none;
}

.formContainer {
    margin-top: -20%;
    padding: 0 25px;
    padding-top: 30%;
    background-color: #B2C8C5;
    border-radius: 8px;
}

.signinForm input {
    margin-bottom: 20px;
    font-size: 16px;
    width: 100%;
    padding: 15px;
    border: 1px solid #cdcdcd;
    border-radius: 6px;
    opacity: 0.9;
}

.signinBtn {
    width: 100%;
    text-align: center;
    background-color: #2A1E5C;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 13px;
    border-radius: 8px;
    margin-top: 20px;
}

.terms {
    color: #0A0F0D;
    font-size: 14px;
    font-weight: 400;
    margin: 20px 0;
    display: flex;
    align-items: center;
}

    .terms span {
        color: #2A1E5C;
        font-weight: 600;
    }

    .terms input {
        width: 20px;
        height: 20px;
        margin: 0 10px;
        opacity: 0.8;
    }

.signupMsg {
    padding: 30px 0;
    text-align: center;
    color: #0A0F0D;
}

    .signupMsg a {
        color: #2A1E5C;
        font-weight: 600;
    }

.error {
    color: #c91414;
    font-size: 13px;
    font-weight: 500;
}

/* For Tablets */
@media only screen and (max-width: 1024px) {
}

/* For Mobile Phones */
@media only screen and (max-width: 600px) {
}
